<div class="kpi-card page-card" [class.green]="variant === 'green'" [class.orange]="variant === 'orange'"
    [class.red]="variant === 'red'">
    <div class="kpi-top">
        <div class="kpi-icon-wrap">
            <span class="material-icons-round">{{ icon }}</span>
        </div>

        <div class="kpi-trend mono">{{ trend }}</div>
    </div>

    <div class="kpi-value mono">{{ value }}</div>
    <div class="kpi-label">{{ label }}</div>

    <div class="kpi-progress">
        <div class="kpi-progress-fill"></div>
    </div>
</div>