<div class="kpi-card" [class.green]="variant === 'green'" [class.orange]="variant === 'orange'"
    [class.red]="variant === 'red'">
    <div class="kpi-top">
        <div class="kpi-icon-wrap">
            <span class="material-icons-round">{{ icon }}</span>
        </div>

        <div class="kpi-trend text-mono-xs-bold">{{ trend }}</div>
    </div>

    <div class="kpi-value text-mono-lg">{{ value }}</div>
    <div class="kpi-label text-xs">{{ label }}</div>

    <div class="kpi-progress">
        <div class="kpi-progress-fill"></div>
    </div>
</div>